@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan';
}

:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
    background-image: url(images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding: 100px 25px;
}

main{
    .top_left{
        h1{
            color: var(--Very-Dark-Magenta);
            font-size: 40px;
        }
        p{
            color: var(--Very-Dark-Magenta);
            margin-top: 15px;
            font-size: 18px;
        }
    }
    .top_right{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 25px;
        .div1, .div2, .div3{
            background-color: var(--Light-Grayish-Magenta);
            padding: 15px 0;
            border-radius: 8px;
        }
        h2{
            color: var(--Very-Dark-Magenta);
            font-size: 17px;
            margin-top: 5px;
        }
    }
    .avatars{
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 15px;
        margin-top: 50px;
        color: var(--White);
        .avatar_div1, .avatar_div2, .avatar_div3{
            background-color: var(--Very-Dark-Magenta);
            border-radius: 8px;
            padding: 25px;
        }
        .name{
            display: flex;
            align-items: center;
            img{
                width: 40px;
                border-radius: 50px;
                margin-right: 20px;
            }
            div{
                h3{
                    font-size: 15px;
                }
                h4{
                    color: var(--Soft-Pink);
                    font-weight: 400;
                    font-size: 15px;
                }
            }
        }
        p{
            margin-top: 25px;
            font-size: 17px;
        }
    }
}
